[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
aws-lambda-powertools = "*"
mypy = "*"
boto3-stubs = {extras = ["s3"], version = "*"}
boto3 = "*"

[requires]
python_version = "3.9"

[scripts]
check = "flake8 --show-source ."
lint = "black . --check"
fmt = "black ."
type = "mypy ."
